EnablePrimaryMouseButtonEvents(true)

function MoveRandom()
    local randomX = math.random(-3, 3)  -- Variation en X
    local randomY = math.random(-3, 3)  -- Variation en Y
    local delay = math.random(10, 30)   -- Délai aléatoire

    MoveMouseRelative(randomX, randomY)
    Sleep(delay)
end

function OnEvent(event, arg)
    if event == "MOUSE_BUTTON_PRESSED" and arg == 4 then  -- Change 4 par ta touche assignée
        repeat
            MoveRandom()
        until not IsMouseButtonPressed(4)
    end
end
